.advertisement-card {
  padding: 16px;
  border: 1px solid #1890ff33;
  border-radius: 16px;
  padding-bottom: 52px;
  display: flex !important;
  flex-direction: column;
  gap: 12px;
  width: 20%;
}

.advertisement-card h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}
