@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* General Body Style */
body {
    font-family: "Inter", sans-serif; /* You can change this to your preferred font family */
    line-height: 1.6; /* Default line height for body text */
}

/* Heading 1 */
h1 {
    font-weight: bold;              /* Bold */
    font-size: 72px;               /* Font size */
    line-height: calc(1.3 * 72px); /* Line height */
}

/* Heading 2 */
h2 {
    font-weight: semi-bold;         /* Semi Bold */
    font-size: 48px;               /* Font size */
    line-height: calc(1.3 * 48px); /* Line height */
}

/* Heading 3 */
h3 {
    font-weight: semi-bold;         /* Semi Bold */
    font-size: 30px;               /* Font size */
    line-height: calc(1.3 * 30px); /* Line height */
}

/* Heading 4 */
h4 {
    font-weight: bold;              /* Bold */
    font-size: 24px;               /* Font size */
    line-height: calc(1.3 * 24px); /* Line height */
}

/* Heading 5 */
h5 {
    font-weight: semi-bold;         /* Semi Bold */
    font-size: 16px;               /* Font size */
    line-height: calc(1.3 * 16px); /* Line height */
}

/* Body Text */
p {
    font-weight: regular;           /* Regular (default for p tags) */
    font-size: 16px;               /* Font size */
    line-height: calc(1.3 * 16px); /* Line height */
}

/* Base Styles */
body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Utility Class for Section Spacing */
.section {
    padding: 0; /* Remove padding for sections */
}

/* Desktop Styles */
@media (min-width: 1024px) {
    .section {
        padding: 80px 150px;
    }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1023px) {
    .section {
        padding:0 32px;
    }
}

/* Mobile Styles */
@media (max-width: 767px) {
    .section {
        padding: 0 16px;
    }
}
